.git
.gitignore
.env
.env.*
!.env.example
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
.idea
.vscode
tests
*.md
addon_build
Dockerfile
.dockerignore
docker-compose*
*.log
temp
public/uploads
public/storage
